language: python
python:
  - "latest"

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt

script:
  - cd myShop
  - python manage.py test

notifications:
  email:
    recipients:
      - wilfried.noubissie@facsciences-uy1.cm
    on_success: always
    on_failure: always