name: Déclencher le pipeline Jenkins

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Déclencher le pipeline Jenkins
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"parameter": [{"name": "param1", "value": "valeur1"}, {"name": "param2", "value": "valeur2"}]}' http://127.0.0.1:8080/generic-webhook-trigger/invoke?token=myShop_token